body {
	padding-top: 50px;
}

div.logo-wrapper {
	height: 100px;
}

nav.nav-middle, nav.nav-middle ul li a{
	height: 30px;
	line-height: 30px;
	padding-top: 0px;
}

div.navbar-header img {
		height: 80px;
		padding-top: 5px;
		padding-left: 20px;
	}

div.carousel {
	width: 100%;
	height: 200px;

	background-image: url("http://placehold.it/320x65.jpg");
	background-size: cover;
	background-position: center center;
}

div.featured-block {
	text-align: center;
	padding-top: 30px;
}

@media all and (min-width: 320px) and (max-width:768px) {
	div.carousel {
	background-image: url("http://placehold.it/768x400.jpg");
	background-size: cover;
	width: 100%;
	height: 400px;
	}
	div.navbar-header img {
		height: 80px;
		padding-top: 5px;
		padding-left: 20px;
	}

}

@media all and (min-width: 768px) {
	nav.nav-middle, nav.nav-middle ul li a{
	height: 100px;
	line-height: 100px;
	padding-top: 0px;
	}
	div.carousel {
	background-image: url("http://placehold.it/1100x400.jpg");
	background-size: cover;
	width: 100%;
	height: 400px;
	}
	div.navbar-header img {
		height: 80px;
		padding-top: 5px;
		padding-left: 20px;
	}
}







